@charset "utf-8";
.hide {
  display: none;
}
.clearfix:after {
  content: " ";
  clear: both;
  height: 0;
  visibility: hidden;
  display: block;
  font-size: 0;
}
.clearfix {
  zoom: 1;
}
html {
  width: 100%;
  height: 100%;
}
body {
  position: relative;
  width: 100%;
  height: 100%;
  font-size: 16px;
  background: #ebebeb;
  -webkit-text-size-adjust: 100% !important;
  color: #666;
}
em {
  font-style: normal;
}
.weui-tabbar__icon > i,
i.weui-tabbar__icon {
  font-size: 18px;
  color: #225fbb;
}
.weui-tabbar__icon {
  margin: 5px;
}
.weui-tabbar__label {
  font-size: 14px;
  padding: 5px;
}
.statisc_title {
  margin-top: 40px;
  text-align: center;
  margin-bottom: 30px;
}
.total {
  text-align: center;
  margin: 40px auto;
  clear: both;
  overflow: hidden;
  font-size: 18px;
}
.total span {
  font-size: 16px;
}
.label_item {
  float: left;
}
.total_item {
  float: left;
  list-style: none;
  margin-left: 20px;
}
