<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="<?php echo base_url('static/m/css/as.css'); ?>">
    <title>申请成功</title>
    <meta content="yes" name="apple-touch-fullscreen">
    <meta content="telephone=no,email=no" name="format-detection">
    <script src="http://g.tbcdn.cn/mtb/lib-flexible/0.3.4/??flexible_css.js,flexible.js"></script>
</head>

<body>
    <div class="container">
        <div class="header">
            <p>贷款无任何前置保证金，我们郑重承诺:不成功放款,不收取任何手续费。后续会有工作人员联系您处理，请保持手机畅通。</p>
        </div>
        <div class="daibei_app">
            <p style="color:#53aef3">关注广州助银小秘书，查看您的贷款进度</p>

            <div class="qr_code">
                <img src="<?php echo base_url('static/m/images/qrcode.jpg'); ?>" alt="">
            </div>
            <div class="a-wrap">
                <a href="https://mp.weixin.qq.com/mp/profile_ext?action=home&__biz=MzU3NjAyMDYwMA==&scene=124#wechat_redirect" class="a-btn">立即关注</a>
            </div>
        </div>
        
    </div>
</body>

</html>