@charset "utf-8";
.pt {
  cursor: pointer;
}
html,
body {
  height: 100%;
  position: relative;
}
.header {
  width: 1100px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
}
.register-box {
  background-color: #3e8dea;
  height: 500px;
  background: url(../images/2T1.jpg) no-repeat center 0;
}
.register-wrap {
  position: relative;
  height: 500px;
  width: 1100px;
  margin: 0 auto;
}
.register {
  width: 382px;
  background-color: #fff;
  min-height: 340px;
  /* height: 340px; */
  padding-bottom: 20px;
}
.registHead {
  height: 100px;
  background-color: #f4b245;
  text-align: center;
  border-bottom: 8px solid #fa7d23;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
}
.registHead h2 {
  font-family: PingFangSC-Regular;
  font-size: 24px;
  color: #fff;
  letter-spacing: 0;
  padding-top: 30px;
}
.registMiddle {
  width: 299px;
  height: 50px;
  border: 1px solid #b3bcc5;
  margin-top: 22px;
  margin-left: 43px;
}
.slider {
  width: 1100px;
  margin-left: auto;
  margin-right: auto;
  height: 533px;
  position: relative;
  top: -147px;
}
.phone img {
  vertical-align: middle;
}
.slider_images {
  width: 232px;
  height: 411px;
  position: absolute;
  left: 150px;
  top: 58px;
  overflow: hidden;
}
.slider_phone {
  width: 1101px;
  height: 619px;
  background: url(../images/Group24.png) no-repeat 0 0;
}
.slider_tips {
  position: absolute;
  left: 497px;
  top: 355px;
  width: 472px;
  height: 147px;
}
.slider_tips .active {
  display: block;
}
.slider_tip {
  height: 130px;
  padding: 24px 0 0 24px;
  border-radius: 4px;
  border: 1px solid #e6e6e6;
  background-color: #f5f5f5;
  display: none;
}
.slider_tip span.slider_tip_title {
  font-size: 30px;
  line-height: 50px;
}
.slider_tip span {
  color: #2b4c6a;
  display: block;
  line-height: 24px;
}
.slider_tip .slider_tip_btn {
  background-image: linear-gradient(-106deg, #83c5f8 4%, #62a1f8 96%);
  border-radius: 100px;
  width: 149px;
  height: 48px;
  font-size: 24px;
  color: #fff;
  line-height: 48px;
  display: inline-block;
  text-align: center;
  position: absolute;
  bottom: 39px;
  right: 37px;
}
.slider_tip span {
  color: #2b4c6a;
  display: block;
  line-height: 24px;
}
.slider_dots {
  position: absolute;
  left: 500px;
  top: 222px;
}
.slider_dots ul li {
  float: left;
  margin-right: 41px;
}
.slider_dots ul li.active .hover {
  display: inline-block;
}
.slider_dots ul li.active img {
  display: none;
}
.slider_dots .hover {
  display: none;
}
.slider_images .active {
  z-index: 1;
  left: 0;
}
.slider_item {
  position: absolute;
  left: 200px;
  transition: left 1s;
}
.slider_tip_corner {
  width: 27px;
  height: 21px;
  position: absolute;
  top: -17px;
  left: 32px;
  background: url(../images/corner.png) no-repeat 0 0;
}
.corner1 {
  left: 160px;
}
.corner2 {
  left: 288px;
}
.corner3 {
  left: 414px;
}
.phone input {
  margin-left: 27px;
  font-size: 14px;
}
.cal-layout {
  position: relative;
}
.calculator {
  width: 800px;
  margin: 80px auto;
}
.lp-left {
  margin-left: 60px;
}
.monthSupply {
  background-color: #2b4c6a;
  width: 720px;
  margin-top: 40px;
  border-radius: 12px;
  display: none;
}
.supply {
  display: inline-block;
  font-family: PingFangSC-Regular;
  font-size: 18px;
  color: #fff;
  letter-spacing: 0;
  vertical-align: top;
  margin-top: 38px;
  margin-left: 33px;
}
.yuan {
  vertical-align: baseline;
  margin-left: 20px;
}
.to {
  height: 95px;
  line-height: 95px;
  margin: 13px  8px;
  color: #fff;
  font-size: 30px;
}
#money {
  display: inline-block;
  margin-left: 10px;
  font-family: PingFangSC-Regular;
  font-size: 50px;
  color: #fff;
  letter-spacing: 0;
  height: 95px;
  line-height: 95px;
  margin-top: 13px;
  margin-bottom: 13px;
}
#money2 {
  display: inline-block;
  margin-left: 10px;
  font-family: PingFangSC-Regular;
  font-size: 50px;
  color: #fff;
  letter-spacing: 0;
  height: 95px;
  line-height: 95px;
  margin-top: 13px;
  margin-bottom: 13px;
}
.cost {
  font-family: PingFangSC-Regular;
  font-size: 18px;
  color: #323232;
  letter-spacing: 0;
  margin-top: 33px;
}
.price {
  display: inline-block;
  padding-left: 21px;
  padding-right: 20px;
  padding-top: 3px;
  padding-bottom: 3px;
  border: 1px solid #979797;
  border-radius: 4px;
  margin-left: 33px;
  cursor: pointer;
}
.month {
  font-family: PingFangSC-Regular;
  font-size: 18px;
  color: #323232;
  letter-spacing: 0;
  margin-top: 33px;
}
.time {
  display: inline-block;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 3px;
  padding-bottom: 3px;
  border: 1px solid #979797;
  border-radius: 4px;
  margin-left: 12px;
  cursor: pointer;
}
.putCost {
  border-bottom: 1px solid #bababa;
  width: 515px;
  margin-top: 36px;
  padding-bottom: 10px;
  margin-left: 85px;
}
.putCost input {
  font-family: PingFangSC-Regular;
  font-size: 32px;
  color: #3e8dea;
  letter-spacing: 1.85px;
}
#curror {
  background-color: #3e8dea;
  border: 1px solid #3e8dea;
  color: #fff;
}
#time-curror {
  background-color: #3e8dea;
  border: 1px solid #3e8dea;
  color: #fff;
}
#calcul {
  text-align: center;
  background-color: #979797;
  border-radius: 4px;
  width: 400px;
  color: #fff;
  font-size: 24px;
  padding-top: 18px;
  padding-bottom: 21px;
  margin-top: 50px;
  margin-left: 220px;
  cursor: pointer;
}
.lp-input-ul-ln {
  display: none;
  min-height: 35px;
  text-align: center;
  margin-top: 20px;
  margin-left: 40px;
}
.registSumbit {
  margin-left: 43px;
  background-color: #62a1f8;
  border-radius: 4px;
  width: 300px;
  cursor: pointer;
  font-family: PingFangSC-Regular;
  font-size: 20px;
  text-align: center;
  margin-top: 20px;
  padding-top: 10px;
  padding-bottom: 12px;
  color: #fff;
}
#phoneLogin {
  display: none;
}
.process {
  width: 1100px;
  margin-left: auto;
  margin-right: auto;
}
.loan_way {
  cursor: pointer;
}
.loan_way .loan_banner {
  line-height: 0;
  height: 400px;
  margin: 0 auto;
  background: url(../images/2T2.jpg) no-repeat center center;
}
.banner {
  line-height: 0;
  height: 400px;
  margin: 0 auto;
}
.banner3 {
  background: url(../images/2T3.jpg) no-repeat center center;
}
.banner4 {
  background: url(../images/2T4.jpg) no-repeat center -100px;
}
.company {
  line-height: 0;
  background: url(../images/Group23.png) no-repeat center 0;
  height: 517px;
  width: 1100px;
  margin: 0 auto;
}
.footer {
  text-align: center;
  font-family: PingFangSC-Regular;
  font-size: 14px;
  color: #d4d4d4;
  background: #333;
  padding-top: 20px;
  padding-bottom: 20px;
  line-height: 30px;
  margin: 0 auto;
}
.footer a {
  padding: 0 13px;
  color: #d4d4d4;
}
.footer_cont a {
  color: #d4d4d4;
}
a {
  text-decoration: none;
}
#suction {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #fff;
  padding-top: 41px;
  padding-bottom: 45px;
  padding-left: 9%;
  box-shadow: 0 -2px 6px 0 rgba(0, 0, 0, 0.24);
  z-index: 1000;
}
#sucBottom i {
  display: inline-block;
  font-size: 48px;
  color: #fa7d23;
  letter-spacing: 0;
  margin-right: 165px;
  vertical-align: middle;
}
#sucText {
  display: inline-block;
  font-size: 20px;
  color: #323232;
  margin-right: 10px;
}
#sucSumbit {
  cursor: pointer;
  background-color: #53aef3;
  border-radius: 8px;
  font-family: PingFangSC-Regular;
  font-size: 24px;
  color: #fff;
  letter-spacing: 0;
  text-shadow: 0 2px 4px #3da2f4;
  padding-left: 118px;
  padding-right: 118px;
  padding-top: 18px;
  padding-bottom: 18px;
  box-shadow: 0 10px 18px 0 rgba(62, 141, 234, 0.24);
}
#suction .close {
  position: absolute;
  right: 10px;
  top: 10px;
  display: inline-block;
  width: 50px;
  height: 50px;
  background: url(../images/close.png) center center no-repeat;
}
.popup {
  display: none;
  position: fixed;
  top: 20%;
  left: 40%;
  border-radius: 4px;
  width: 500px;
  height: 350px;
  margin-left: -145px;
  border: 1px solid #e6e6e6;
  background-color: #fff;
  z-index: 99999999;
}
.popupHead {
  text-align: center;
  margin-top: 24px;
  padding-bottom: 23px;
  border-bottom: 1px solid #e6e6e6;
}
.popupHead span {
  font-family: PingFangSC-Regular;
  font-size: 24px;
  color: #2b4c6a;
  letter-spacing: 0;
}
.popupHead img {
  display: inline-block;
  float: right;
  margin-right: 24px;
}
.sms span {
  display: inline-block;
}
.smsText {
  font-family: PingFangSC-Regular;
  font-size: 20px;
  color: #858585;
  margin-left: 30px;
  margin-top: 90px;
  cursor: pointer;
}
#sixty {
  display: none;
}
.smsPut {
  width: 257px;
  border: 1px solid #3e8dea;
  padding-top: 15px;
  padding-bottom: 17px;
}
.smsPut {
  margin-left: 9px;
}
#emscode {
  font-size: 20px;
}
#determine {
  margin-left: 15px;
  border-left: 2px solid #53aef3;
  padding-left: 5px;
}
.prompSms {
  display: none;
  font-size: 14px;
  padding-left: 100px;
  margin-top: 20px;
  color: red;
}
#smsSumbit {
  margin-top: 25px;
  margin-left: 50px;
  padding-top: 16px;
  background-image: linear-gradient(-90deg, #53aef3 0, #62a1f8 100%);
  border-radius: 4px;
  width: 400px;
  padding-bottom: 17px;
  font-size: 20px;
  color: #fff;
  text-align: center;
  cursor: pointer;
}
#phoneSumbit span {
  color: #fff;
}
#promptText {
  margin-left: 50px;
  margin-top: 20px;
  font-size: 14px;
  font-family: PingFangSC-Regular;
  color: red;
  display: none;
}
.contact {
  width: 1100px;
  margin: 0 auto;
  text-align: left;
  font-size: 19px;
}
.contact p {
  margin-bottom: 10px;
}
.contact i {
  margin-right: 10px;
  font-size: 22px;
  vertical-align: middle;
}
.c_left {
  float: left;
}
.c_right {
  float: right;
}
.weixin {
  margin-left: 43px;
  background-color: #44b549;
  border-radius: 4px;
  width: 300px;
  cursor: pointer;
  font-family: PingFangSC-Regular;
  font-size: 20px;
  text-align: center;
  margin-top: 20px;
  padding-top: 10px;
  padding-bottom: 12px;
  color: #fff;
}
/* entire container, keeps perspective */
.flip-container {
  -webkit-perspective: 600px;
  -moz-perspective: 600px;
}
.flip-container {
  width: 382px;
  position: absolute;
  top: 50%;
  right: 0;
  margin-top: -180px;
  height: 340px;
}
/* flip the pane when hovered */
.w_active {
  transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  /* Firefox */
}
.flip-container,
.front,
.back {
  width: 382px;
  height: 340px;
}
/* flip speed goes here */
.flipper {
  transition: 0.6s;
  transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  position: relative;
}
/* hide back of pane during swap */
.front,
.back {
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  /* Chrome å’Œ Safari */
  -moz-backface-visibility: hidden;
  /* Firefox */
  position: absolute;
  top: 0;
  left: 0;
}
/* front pane, placed above back */
.front {
  background-color: #fff;
}
/* back, initially hidden pane */
.back {
  position: relative;
  overflow: hidden;
  background-color: #fff;
  transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  /* Firefox */
}
.back_btn {
  position: absolute;
  background: #62a1f8;
  font-family: PingFangSC-Regular;
  color: #fff;
  right: 0;
  top: 0;
  width: 120px;
  right: -33px;
  top: -10px;
  width: 100px;
  height: 50px;
  line-height: 62px;
  text-align: center;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  cursor: pointer;
}
.qrcode {
  text-align: center;
}
.qrcode img {
  margin-top: 20px;
}
