<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdn.bootcss.com/weui/1.1.2/style/weui.min.css">
    <link rel="stylesheet" href="https://cdn.bootcss.com/jquery-weui/1.2.0/css/jquery-weui.min.css">
    <link rel="stylesheet" href="<?php echo base_url('static/fonts/iconfont.css'); ?>">
    <link rel="stylesheet" href="<?php echo base_url('static/m/css/customerImg.css');?>">
    <title></title>
</head>

<body>
    <div class="weui-tab">
        <div class="weui-tab__bd">
            <div id="tab1" class="weui-tab__bd-item ">
               
            </div>
            <div id="tab2" class="weui-tab__bd-item ">                   
                
            </div>
            <div id="tab4" class="weui-tab__bd-item weui-tab__bd-item--active">
                <div class="weui-cells weui-cells_form">
                    <div class="weui-cell">
                      <div class="weui-cell__bd">
                        <div class="weui-uploader">
                          <div class="weui-uploader__hd" style="display:none">
                            <p class="weui-uploader__title">图片上传</p>
                            <div class="weui-uploader__info">0/99</div>
                          </div>
                          <div class="weui-uploader__bd">
                            <ul class="weui-uploader__files" id="uploaderFiles">
                                    <!-- <li class="weui-uploader__file" style="background-image:url(./images/pic_160.png)"></li> -->
                                        <?php foreach ($uploaded as $item): ?>
                                             <li class="weui-uploader__file upload_item" style="background-image:url(<?php echo $item['thumb_url'] ;?>)">
                                                <div class="upload_checkbox">
                                                    <input type="checkbox" name="delitem" value="<?php echo $item['id'] ;?>" >
                                                </div>
                                             </li>
                                        <?php endforeach; ?>
                            </ul>
                            <div class="weui-uploader__input-box">
                              <input id="uploaderInput" class="weui-uploader__input" type="file" accept="image/*" multiple="">
                            </div>
                            <div class="weui-uploader__del">
                                
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
            </div>
        </div>
        <?php
         $this->load->view('weixin/tabbar')
        ?>
    </div>
</body>
<!-- body 最后 -->
<script src="https://cdn.bootcss.com/jquery/1.11.0/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/jquery-weui/1.2.0/js/jquery-weui.min.js"></script>
<script src="https://cdn.bootcss.com/jquery-weui/1.2.0/js/swiper.min.js"></script>
<script src="https://cdn.bootcss.com/fastclick/1.0.6/fastclick.js"></script>
<script>
    $(function () {
        FastClick.attach(document.body);
    });
</script>
<script src="<?php echo base_url('static/js/exif.js');?>"></script>
<script>
            //获取图片方向
            function rotateImg(img, direction, canvas) {
                    //alert(img);  
                    //最小与最大旋转方向，图片旋转4次后回到原方向    
                    var min_step = 0;
                    var max_step = 3;
                    //var img = document.getElementById(pid);    
                    if (img == null) return;
                    //img的高度和宽度不能在img元素隐藏后获取，否则会出错    
                    var height = img.height;
                    var width = img.width;
                    //var step = img.getAttribute('step');    
                    var step = 2;
                    if (step == null) {
                        step = min_step;
                    }
                    if (direction == 'right') {
                        step++;
                        //旋转到原位置，即超过最大值    
                        step > max_step && (step = min_step);
                    } else {
                        step--;
                        step < min_step && (step = max_step);
                    } 
                    var degree = step * 90 * Math.PI / 180;
                    var ctx = canvas.getContext('2d');
                    switch (step) {
                        case 0:
                            canvas.width = width;
                            canvas.height = height;
                            ctx.drawImage(img, 0, 0);
                            break;
                        case 1:
                            canvas.width = height;
                            canvas.height = width;
                            ctx.rotate(degree);
                            ctx.drawImage(img, 0, -height);
                            break;
                        case 2:
                            canvas.width = width;
                            canvas.height = height;
                            ctx.rotate(degree);
                            ctx.drawImage(img, -width, -height);
                            break;
                        case 3:
                            canvas.width = height;
                            canvas.height = width;
                            ctx.rotate(degree);
                            ctx.drawImage(img, -width, 0);
                            break;
                    }
                } 
            function getPhotoOrientation(img) {
                var orient;
                EXIF.getData(img, function () {
                    orient = EXIF.getTag(this, 'Orientation');
                });
                return orient;
            }
        $(function () {
           
            // 允许上传的图片类型  
            var allowTypes = ['image/jpg', 'image/jpeg', 'image/png', 'image/gif'];
            // 1024KB，也就是 1MB  
            var maxSize = 4096 * 4096;
            // 图片最大宽度  
            var maxWidth = 10000;
            // 最大上传图片数量  
            var maxCount = 99;
            $('#uploaderInput').on('change', function (event) {
                var files = event.target.files;
                //console.log(files);return false;
                // 如果没有选中文件，直接返回  
                if (files.length === 0) {
                    return;
                }

                for (var i = 0, len = files.length; i < len; i++) {
                    var file = files[i];
                    var reader = new FileReader();

                    // 如果类型不在允许的类型范围内  
                    if (allowTypes.indexOf(file.type) === -1) {
                        $.alert("该类型不允许上传！", "警告！");
                        continue;
                    }

                    if (file.size > maxSize) {
                        //$.weui.alert({text: '图片太大，不允许上传'});
                        $.alert("图片太大，不允许上传", "警告！");
                        continue;
                    }
                    if ($('.weui-uploader__file').length >= maxCount) {
                        // $.weui.alert({ text: '最多只能上传' + maxCount + '张图片' });
                        $.alert({ text: '最多只能上传' + maxCount + '张图片' });
                        return;
                    }


                    reader.readAsDataURL(file);
                    reader.onload = function (e) {
                        //console.log(e);
                        var img = new Image();
                        img.src = e.target.result;
                        img.onload = function () {
                            var expectWidth = this.naturalWidth;
                            var expectHeight = this.naturalHeight;
                            var Orientation = getPhotoOrientation(img);
                            if (this.naturalWidth > this.naturalHeight && this.naturalWidth > 800) {
                                expectWidth = 800;
                                expectHeight = expectWidth * this.naturalHeight / this.naturalWidth;
                            } else if (this.naturalHeight > this.naturalWidth && this.naturalHeight > 1200) {
                                expectHeight = 1200;
                                expectWidth = expectHeight * this.naturalWidth / this.naturalHeight;
                            }
                            var canvas = document.createElement("canvas");
                            var ctx = canvas.getContext("2d");
                            canvas.width = expectWidth;
                            canvas.height = expectHeight;
                            ctx.drawImage(this, 0, 0, expectWidth, expectHeight);
                            var base64 = null;
                            //修复ios  
                            if (navigator.userAgent.match(/iphone/i)) {
                                if (Orientation != "" && Orientation != 1) {
                                    switch (Orientation) {
                                        case 6://需要顺时针（向左）90度旋转  
                                            rotateImg(this, 'left', canvas);
                                            break;
                                        case 8://需要逆时针（向右）90度旋转  
                                            rotateImg(this, 'right', canvas);
                                            break;
                                        case 3://需要180度旋转  
                                            rotateImg(this, 'right', canvas);//转两次  
                                            rotateImg(this, 'right', canvas);
                                            break;
                                    }
                                }
                                base64 = canvas.toDataURL("image/jpeg", 0.8);
                            } else if (navigator.userAgent.match(/Android/i)) {// 修复android  
                                var encoder = new JPEGEncoder();
                                base64 = encoder.encode(ctx.getImageData(0, 0, expectWidth, expectHeight), 80);
                            } else {
                                if (Orientation != "" && Orientation != 1) { 
                                    switch (Orientation) {
                                        case 6://需要顺时针（向左）90度旋转  
                                            rotateImg(this, 'left', canvas);
                                            break;
                                        case 8://需要逆时针（向右）90度旋转  
                                            rotateImg(this, 'right', canvas);
                                            break;
                                        case 3://需要180度旋转  
                                            rotateImg(this, 'right', canvas);//转两次  
                                            rotateImg(this, 'right', canvas);
                                            break;
                                    }
                                }
                            }
                            // 插入到预览区  
                            var $preview = $('<li class="weui-uploader__file weui-uploader__file_status" style="background-image:url(' + base64 + ')"><div class="weui-uploader__file-content">0%</div></li>');
                            $('#uploaderFiles').append($preview);
                            var num = $('.weui-uploader__file').length;
                            $('.weui-uploader__info').text(num + '/' + maxCount);

                            var formData = new FormData();
                            formData.append("images", base64);
                            formData.append("uid", "<?php echo $uid; ?>");
                            formData.append("<?php echo $this->security->get_csrf_token_name(); ?>", "<?php echo $this->security->get_csrf_hash(); ?>");


                            $.ajax({

                                url: "<?php echo site_url('admin/handleUploadImg')?>",

                                type: 'POST',

                                data: formData,

                                contentType: false,

                                processData: false,

                                success: function (data) {
                                    $preview.removeClass('weui-uploader__file_status');
                                    $.toast("上传成功", function () {

                                    });
                                },
                                error: function (xhr, type) {
                                    alert('Ajax error!')
                                }
                            });

                        };


                    };

                }
            });
        }); 
</script>
<script>
        var arr = new Array();  ;
        $(function () {
            var images = [ <?php foreach($uploaded as $item):?> "<?php echo $item['url'];?>",<?php endforeach; ?>];
            var pb1 = $.photoBrowser({
                items: images
            });
            // $('.weui-uploader__files').on('click', '.weui-uploader__file', function () {
            //     pb1.open();  //打开
            // });
            $(".weui-uploader__file").click(function () {
                pb1.open($(this).index());
            });
            $(".upload_checkbox").click(function (e) {
                e.stopPropagation();
            });
            $(".weui-uploader__del").click(function(){
                $("input[type=checkbox]:checked").each(function(){
                    arr.push($(this).val());
                    $(this).parentsUntil('.weui-uploader__files','.weui-uploader__file ').hide();
                   
                }); 
                $.ajax({
                url: '<?php echo site_url("admin/delImg");?>',
                type: 'post', //GET
                async: true, //或false,是否异步
                cache: true,
                data: {
                    '<?php echo $this->security->get_csrf_token_name(); ?>': '<?php echo $this->security->get_csrf_hash(); ?>',
                    'arr':arr
                },
                timeout: 5000, //超时时间
                dataType: 'json', //返回的数据格式：json/xml/html/script/jsonp/text
                beforeSend: function (xhr) {

                },
                success: function (data, textStatus, jqXHR) {
                    console.log(data);
                },
                error: function (xhr, textStatus) {

                },
                complete: function () {
                   
                }
            });
                console.log(arr);
            });
        });
   
</script>
</html>