<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="<?php echo base_url('static/m/fonts/iconfont.css'); ?>">
    <link rel="stylesheet" href="<?php echo base_url('static/m/css/noback2.css'); ?>">
    <title>未查到相关信息</title>
</head>
<body>
    <div class="container">
        <div class="show_pic">
            <i class="icon iconfont icon-feiji"></i>
        </div>
        <p class="show_msg msg">
                银行还款数据正在同步中......
        </p>  
        <p class="show_msg msg2">
            我们的安全金融级系统会准确无误的将数据展示在此，请按时还款，珍惜信用。
        </p>    
    </div>
    <div class="footer">
            <p>版权所有 ©贷呗金融 未经许可不得复制,违者必究!</p>
            <p class="weui-footer__text">Copyright © Daibei Finance Co., Ltd. All Rights Reserved</p>
    </div>
</body>
</html>