<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>请绑定您的身份信息</title>
    <link rel="stylesheet" href="<?php echo base_url('static/m/css/nobind.css'); ?>">
</head>
<body>
    <p class="msg">
        很抱歉，我们的系统暂时未能查询到您的相关记录。若您已是签约客户请您先进行<a href="<?php echo site_url('App/bind')?>">身份绑定</a>。若您不是，请点击去<a href="<?php echo site_url('m/apply')?>">申请贷款</a>，由我们的专业融资顾问为您服务。
    </p>
</body>
</html>