<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdn.bootcss.com/weui/1.1.2/style/weui.min.css">
    <link rel="stylesheet" href="https://cdn.bootcss.com/jquery-weui/1.2.0/css/jquery-weui.min.css">
    <link rel="stylesheet" href="<?php echo base_url('static/fonts/iconfont.css'); ?>">
    <link rel="stylesheet" href="<?php echo base_url('static/m/css/product_statistics.css');?>">
    <title>客户来源统计</title>
</head>

<body>
    <div class="weui-tab">
        <div class="weui-tab__bd">
            <div id="tab1" class="weui-tab__bd-item ">
               
            </div>
            <div id="tab2" class="weui-tab__bd-item ">                   
                
            </div>
            <div id="tab4" class="weui-tab__bd-item weui-tab__bd-item--active">
                    <div class="statisc_title">
                            <span>
                                    选择年月：<select name="" id="year_select">
                                            <?php foreach ($year as $item): ?>
                                                <option value="<?php echo $item ;?>"><?php echo $item ;?></option>
                                             <?php endforeach; ?>
                                          </select>
                                          <!-- <select name="" id="month_select">
                                            <option value="01">01</option>
                                            <option value="02">02</option>
                                            <option value="03">03</option>
                                            <option value="04">04</option>
                                            <option value="05">05</option>
                                            <option value="06">06</option>
                                            <option value="07">07</option>
                                            <option value="08">08</option>
                                            <option value="09">09</option>
                                            <option value="10">10</option>
                                            <option value="11">11</option>
                                            <option value="12">12</option>
                                          </select> -->
                                          <i style="font-size:12px;font-style:normal">(单位:万)</i>
                            </span>
                            
                        </div>
                <div id="main" style="width:100%;height:400px;"></div>
            </div>
        </div>
        <?php
         $this->load->view('weixin/tabbar')
        ?>
    </div>

</body>
<!-- body 最后 -->
<script src="https://cdn.bootcss.com/jquery/1.11.0/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/jquery-weui/1.2.0/js/jquery-weui.min.js"></script>
<script src="https://cdn.bootcss.com/jquery-weui/1.2.0/js/swiper.min.js"></script>
<script src="https://cdn.bootcss.com/fastclick/1.0.6/fastclick.js"></script>
<script src="<?php echo base_url('static/js/echarts.common.min.js');?>"></script>
<script>
    $(function () {
        FastClick.attach(document.body);
    });
</script>
<script type="text/javascript">
    // 基于准备好的dom，初始化echarts实例
    var myChart = echarts.init(document.getElementById('main'));

    // 指定图表的配置项和数据
    option = {
        tooltip : {
            trigger: 'axis',
            axisPointer : {            // 坐标轴指示器，坐标轴触发有效
                      // 默认为直线，可选为：'line' | 'shadow'
            }
        },
        legend: {
            data: ['产品统计']
        },
        grid: {
            left: '3%',
            right: '4%',
            bottom: '3%',
            containLabel: true
        },
        xAxis:  {
            type: 'value',
            data: ['10','20','30','40','50','60']
        },
        yAxis: {
            type: 'category',
            data: [<?php foreach($nameArr as $key){
                echo '"'.$key.'",';
            };?>]
        },
        series: [
            {
                name: '产品统计',
                type: 'bar',
                stack: '总量',
                itemStyle: {
                    normal: {
                        show: true,
                        color: 'orange'
                    }
                },
                label: {
                    normal: {
                        show: true,
                        position: 'insideRight'
                    }
                },
                data: [<?php foreach($totalArr as $key){
                    echo '"'.$key.'",';
                };?>]
            }
        ]
    };

    // 使用刚指定的配置项和数据显示图表。
    myChart.setOption(option);
    $('#year_select').change(function (){
            var year = $('#year_select option:selected').val();
            $.ajax({
                url: '<?php echo site_url("admin/getProducts");?>',
                type: 'post', //GET
                async: true, //或false,是否异步
                cache: true,
                data: {
                    '<?php echo $this->security->get_csrf_token_name(); ?>': '<?php echo $this->security->get_csrf_hash(); ?>',
                    'year':year,
                },
                timeout: 5000, //超时时间
                dataType: 'json', //返回的数据格式：json/xml/html/script/jsonp/text
                beforeSend: function (xhr) {
                },
                success: function (data, textStatus, jqXHR) {
                    var option = {
                        title: {
                        },
                        tooltip: {
                            trigger: 'axis',
                            axisPointer: {            // 坐标轴指示器，坐标轴触发有效
                                type: 'shadow'        // 默认为直线，可选为：'line' | 'shadow'
                            },
                            // formatter: '{a0}:{c0}万<br/>{a1}:{c1}万'
                        },
                        legend: {
                            data: ["客户来源"]
                        },
                        grid: {
                            left: '3%',
                            right: '4%',
                            bottom: '3%',
                            containLabel: true
                        },
                        xAxis: {
                            type: 'value',
                            data: ['10', '20', '30', '40', '50', '60']
                        },
                        yAxis: {
                            type: 'category',
                            data:data['nameArr']
                        },
                        series: [
                          {
                                name: '客户来源',
                                type: 'bar',
                                stack: '总量',
                                itemStyle: {
                                    normal: {
                                        show: true,
                                        color: 'orange'
                                    }
                                },
                                label: {
                                    normal: {
                                        show: true,
                                        position: 'insideRight',
                                    }
                                },
                                data:data['totalArr']
                            },

                        ]
                    };
                    myChart.setOption(option);
                },
                error: function (xhr, textStatus) {

                },
                complete: function () {

                }
            });
        });
</script>
</html>